; cli configs
metrics-registry = "https://registry.npmjs.org/"
scope = ""
user-agent = "npm/6.14.7 node/v14.9.0 darwin x64"

; builtin config undefined
prefix = "/usr/local"

; node bin location = /usr/local/Cellar/node/14.9.0/bin/node
; cwd = /Users/ricardomonteiro/Projects/Udemy/react
; HOME = /Users/ricardomonteiro
; "npm config ls -l" to show all defaults.

